version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  web:
    build:
      context: .
      args:
        MONGODB_URI: mongodb://mongo:27017/QuickLink
    container_name: quicklinks-app
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/QuickLink
    env_file:
      - .env
    depends_on:
      - mongo


volumes:
  mongo_data:
